# Ignore everything
*
.zsh_history
.config/REAPER/
.config/shellconfig/bitwarden
.config/mpd/log
.config/mpd/state

# except...

!.gitignore
!.zshrc
!.asoundrc*
!.config/
!.zprofile
!.emacs.d/
!.scripts/
!.xinitrc
!.Xauthority

